In [2]:
setwd(fs::path_abs("~/Local_Workspace/TesiMag"))

library(arrow, warn.conflicts = FALSE)
library(dplyr, warn.conflicts = FALSE)

source("src/paths/paths.R")
source("src/load/load.R")

Linking to GEOS 3.12.0, GDAL 3.7.3, PROJ 9.3.0; sf_use_s2() is TRUE

terra 1.7.55

In [3]:
tvar <- "T_MAX"
scia <- load.series("SCIA", tvar)

Cache found: SCIA/T_MAX, suffix: <>, loading from disk

In [6]:
if (!dir.exists(file.path("scia_split", tvar))) dir.create(file.path("scia_split", tvar), recursive = TRUE)
scia |>
    group_by_key() |>
    group_walk(~ write_parquet(. |> drop_na(), file.path("scia_split", tvar, paste0(.y[[1]], ".parquet"))))

In [4]:
ds_tmax <- read_parquet(ls.SCIA.datafiles("T_MAX"), as_data_frame = FALSE) |>
    mutate(variable = "T_MAX", value = cast(`Temperatura massima `, float32()), .keep = "unused")
ds_tmin <- read_parquet(ls.SCIA.datafiles("T_MIN"), as_data_frame = FALSE) |>
    mutate(variable = "T_MIN", value = cast(`Temperatura minima `, float32()), .keep = "unused")

In [5]:
all_data <- concat_tables(ds_tmax |> as_arrow_table(), ds_tmin |> as_arrow_table()) |>
    mutate(identifier = cast(internal_id, int32()), .keep = "unused") |> collect()

In [6]:
all_data

         date       variable value identifier
1        1996-10-11 T_MAX     3.8  5630
2        1996-10-12 T_MAX     4.3  5630
3        1996-10-13 T_MAX     0.4  5630
4        1996-10-14 T_MAX     0.1  5630
5        1996-10-15 T_MAX     4.9  5630
6        1996-10-16 T_MAX     0.9  5630
7        1996-10-17 T_MAX    -0.4  5630
8        1996-10-18 T_MAX     2.1  5630
9        1996-10-19 T_MAX     1.7  5630
10       1996-10-20 T_MAX     6.7  5630
11       1996-10-21 T_MAX     8.7  5630
12       1996-10-22 T_MAX    10.7  5630
13       1996-10-23 T_MAX    12.8  5630
14       1996-10-24 T_MAX    13.4  5630
15       1996-10-25 T_MAX     9.2  5630
16       1996-10-26 T_MAX     6.0  5630
17       1996-10-27 T_MAX     6.0  5630
18       1996-10-28 T_MAX     9.1  5630
19       1996-10-29 T_MAX     6.0  5630
20       1996-10-30 T_MAX     3.2  5630
21       1996-10-31 T_MAX     7.0  5630
22       1996-11-01 T_MAX     7.5  5630
23       1996-11-02 T_MAX    11.4  5630
24       1996-11-03 T_MAX    13.1  5630
25       1996-11-04 T_MAX     9.5  5630
26       1996-11-05 T_MAX     0.4  5630
27       1996-11-06 T_MAX     5.7  5630
28       1996-11-07 T_MAX     6.9  5630
29       1996-11-08 T_MAX     1.3  5630
30       1996-11-09 T_MAX     0.3  5630
...      ...        ...      ...   ...
63900535 2022-12-02 T_MIN     -3.7 15175
63900536 2022-12-03 T_MIN     -0.1 15175
63900537 2022-12-04 T_MIN      0.2 15175
63900538 2022-12-05 T_MIN     -1.8 15175
63900539 2022-12-06 T_MIN     -3.5 15175
63900540 2022-12-07 T_MIN     -4.2 15175
63900541 2022-12-08 T_MIN     -5.6 15175
63900542 2022-12-09 T_MIN     -1.1 15175
63900543 2022-12-10 T_MIN     -2.8 15175
63900544 2022-12-11 T_MIN     -7.5 15175
63900545 2022-12-12 T_MIN     -9.6 15175
63900546 2022-12-13 T_MIN     -6.4 15175
63900547 2022-12-14 T_MIN     -6.3 15175
63900548 2022-12-15 T_MIN     -7.6 15175
63900549 2022-12-16 T_MIN     -4.8 15175
63900550 2022-12-17 T_MIN     -7.5 15175
63900551 2022-12-18 T_MIN    -11.0 15175
63900552 2022-12-19 T_MIN     -6.2 15175
63900553 2022-12-20 T_MIN     -7.5 15175
63900554 2022-12-21 T_MIN     -2.9 15175
63900555 2022-12-22 T_MIN     -3.4 15175
63900556 2022-12-23 T_MIN      3.0 15175
63900557 2022-12-24 T_MIN      6.7 15175
63900558 2022-12-25 T_MIN       NA 15175
63900559 2022-12-26 T_MIN      4.0 15175
63900560 2022-12-27 T_MIN     -1.4 15175
63900561 2022-12-28 T_MIN     -3.3 15175
63900562 2022-12-29 T_MIN     -3.2 15175
63900563 2022-12-30 T_MIN     -1.4 15175
63900564 2022-12-31 T_MIN       NA 15175

In [11]:
write_mkdir <- function(data, fname) {
    dir.create(dirname(fname), recursive = TRUE)
    write_parquet(data, fname)
}

In [7]:
all_data |>
    arrange(variable, identifier, date) |>
    group_by(variable, identifier) |>
    as_arrow_table(schema = schema(date = date32(), variable = utf8(), value = float32(), identifier = int32())) |>
    write_dataset(file.path(path.ds, "SCIA", "dataset1"), max_open_files = 20L, min_rows_per_group = 10000L)

In [9]:
all_data |>
    collect() |>
    group_by(variable, identifier) |>
    group_walk(
        ~ write_mkdir(
            . |> drop_na() |> add_column(identifier = .y[[2]], variable = .y[[1]]) |> as_arrow_table(schema = schema(date = date32(), value = float32(), identifier = int32(), variable = utf8())) |> mutate(identifier = cast(identifier, uint32())),
            file.path(
                path.ds,
                "SCIA",
                "dataset",
                paste0("variable=", .y[[1]]),
                paste0("identifier=", .y[[2]]),
                "part-0.parquet"
            )
        )
    )